*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

:root {
    --primary-color: #006780;
    --text-color: #171c1f;
    --background-color: #f5fafd;
    --outline-color: #6D797E;
    --outline-variant-color: #BCC8CF;
    --surface-variant-color: #D8E4EB;
}

.dark {
    --primary-color: #9fe4ff;
    --text-color: #dee3e7;
    --background-color: #0e1316;
}

body {
    color: var(--text-color);

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
}

main {
    padding: 0 32px;
}

.header {
    color: var(--text-color);
    background-color: var(--background-color);

    display: flex;
    justify-content: space-between;
    gap: 64px;

    padding: 32px;
    margin-bottom: 16px;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-content h1 {
    font-family: "Poppins", sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1;
}

.logo-container {
    display: flex;
    align-items: start;
}

.logo-container svg {
    margin-right: 8px;
}

.logo-container span {
    font-size: 20px;
    font-weight: 600;

    margin-top: 6px;
}

.header-img {
    width: 25%;
    max-width: 320px;
}

.header-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.info-wrapper {
    border-bottom: 1px solid var(--background-color);

    padding-bottom: 16px;
    margin-bottom: 16px;
}

.info-header,
.info-container {
    display: flex;
    gap: 32px;
}

.info-header>p,
.info-container>div {
    width: calc(50% - 16px);
}

.info-header {
    justify-content: flex-end;

    margin-bottom: 4px;
}

.info-header>p {
    color: var(--outline-color);

    font-size: 12px;
}

.info-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.info-content span {
    color: var(--outline-color);

    text-transform: uppercase;
}

.invoice-details {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    margin-bottom: 24px;
}

.invoice-details>div {
    width: calc((100% - 4 * 16px) / 5);
}

.invoice-details>div p:last-child {
    font-weight: 600;
}

.invoice-details>div p:first-child {
    font-size: 12px;
    color: var(--outline-color);
}

table {
    width: 100%;
    border-collapse: collapse;
}

/* ===== En-tête ===== */
th {
    position: relative;
    background-color: var(--background-color);
    font-size: 10px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 10px;
}

th::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    inset-inline: -32px;
    height: 100%;
    background-color: var(--background-color);
}

/* Alignement spécial colonnes */
th.number,
td.number {
    text-align: center;
}

th.vat,
td.vat {
    width: 50px;
    text-align: center;
}

/* ===== Corps ===== */
tbody td {
    padding: 10px;
    font-weight: 600;
    vertical-align: top;
}

tbody tr {
    border-bottom: 1px solid var(--background-color);
}

td.number {
    line-height: 1.6;
}

td.price {
    text-align: right;
}

/* Sous-texte (ligne secondaire) */
td p.outline {
    color: var(--outline-color);
    font-size: 12px;
    font-weight: 400;
}

/* ===== Pied de tableau ===== */
tfoot td {
    vertical-align: middle;
}

tfoot td[colspan="3"] {
    color: var(--outline-color);
    font-size: 12px;
    font-weight: 400;
}

tfoot td[colspan="2"] {
    text-align: right;
}

/* Bloc d'acompte */
tfoot td[colspan="2"][rowspan="4"] {
    vertical-align: bottom;
    text-align: left;
}

tfoot td[colspan="2"][rowspan="4"]>div {
    padding: 10px 16px;
    margin-right: 32px;
    border: 1px solid var(--background-color);
}

/* Espacements spécifiques */
tfoot tr:not(:last-child) td {
    padding: 2px 10px;
}

tfoot tr:first-child td {
    padding: 10px 10px 2px;
}

tfoot tr:nth-last-child(2) td {
    padding: 2px 10px 10px;
}

tfoot tr:last-child {
    border-top: 1px solid var(--background-color);
}

tfoot tr:last-child td {
    color: inherit;
    font-weight: 800;
    padding: 10px;
}

.payment-section {
    position: relative;
    margin-top: 32px;
    padding: 16px 0;

    background: var(--surface-variant-color);
}

.payment-section::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    inset-inline: -32px;
    height: 100%;
    background-color: var(--surface-variant-color);
}

.payment-title {
    color: var(--outline-color);
    font-size: 12px;
    margin-bottom: 8px;
}

.payment-details {
    display: flex;
    gap: 32px;
}

.payment-line {
    display: flex;
    flex-direction: column;
}

.payment-line p:first-child {
    font-weight: 600;
}

footer {
    font-size: 12px;
    font-weight: 500;

    display: flex;
    flex-direction: column;

    gap: 16px;

    padding: 24px 32px;
}

footer>div:first-child {
    border-bottom: 1px solid var(--background-color);
    padding-bottom: 16px;
}

footer>div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 32px;
}

footer>div:last-of-type>p:last-child {
    color: var(--outline-color);
}

@media print {
    body {
        margin: 0;
    }
}